.container{
    background-color: #fff;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.right-size{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 8rem;
}
label{
    color: rgb(136, 136, 136);
}
textarea,
input{
    padding: 1rem;
    border: 1px solid rgb(190, 190, 190);
}

.form-camp{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 0.3rem;
}

.contato-link {
    color: #9b9b9b;
}


h1{
    color: #0048d9;
    font-weight: 50;
    font-size: 40px;
}

button{
    width: 100px;
    padding: 1rem;
    border: none;
    color: #fff;
    background-color: #0048d9;
    font-weight: 1000;
}

.left-size{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-bottom: 16rem;

}

.infos{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h2{
    font-size: 1rem;
    color: #868686;
}

p{
    color: rgb(136, 136, 136);
}

.info{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}